.commentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.commentUsernameBox {
  display: flex;
  align-self: flex-end;
}

.commentUsername {
  font-size: 14px;
}
.commentScoreBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.nestedComment {
  margin-left: 16px;
}

.writeCommentWrapper {
  display: flex;
  flex-direction: row;
}

.new-comment {
  display: flex;
  flex-direction: column;
}

.commentInput {
  width: 100%;
}
